<style>
        h1{
            background-color:orange;
        }
        .headline-1{
            color:brown;
        }
        #heading-id{
            color:purple;
        }
    </style>